[submodule "submodules/ValveFileVDF"]
	path = submodules/ValveFileVDF
	url = https://github.com/PazerOP/ValveFileVDF.git
[submodule "submodules/SourceRCON"]
	path = submodules/SourceRCON
	url = https://github.com/surepy/tf2bd_SourceRCON.git
	branch = tf2bd
[submodule "submodules/vcpkg"]
	path = submodules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
